In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

/home/jhummel/anaconda/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [3]:
pd.set_option("display.max_rows",100)
pd.get_option("display.max_columns")

pd.set_option('max_colwidth', 100)

In [4]:
df_dict = pd.read_csv('CollegeScorecardDataDictionary-09-08-2015.csv')
df_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1953 entries, 0 to 1952
Data columns (total 9 columns):
NAME OF DATA ELEMENT       1720 non-null object
dev-category               1848 non-null object
developer-friendly name    1720 non-null object
API data type              1720 non-null object
VARIABLE NAME              1720 non-null object
VALUE                      289 non-null object
LABEL                      297 non-null object
SOURCE                     1720 non-null object
NOTES                      44 non-null object
dtypes: object(9)
memory usage: 137.4+ KB

In [5]:
df_dict.columns

Index(['NAME OF DATA ELEMENT', 'dev-category', 'developer-friendly name',
       'API data type', 'VARIABLE NAME', 'VALUE', 'LABEL', 'SOURCE', 'NOTES'],
      dtype='object')

In [6]:
df_dict.set_index('VARIABLE NAME', inplace=True)

In [7]:
df_dict

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VALUE,LABEL,SOURCE,NOTES
VARIABLE NAME,,,,,,,,
UNITID,Unit ID for institution,root,id,integer,NaN,NaN,IPEDS,NaN
OPEID,8-digit OPE ID for institution,root,ope8_id,integer,NaN,NaN,IPEDS,NaN
opeid6,6-digit OPE ID for institution,root,ope6_id,integer,NaN,NaN,IPEDS,NaN
INSTNM,Institution name,school,name,autocomplete,NaN,NaN,IPEDS,NaN
CITY,City,school,city,autocomplete,NaN,NaN,IPEDS,NaN
STABBR,State postcode,school,state,string,NaN,NaN,IPEDS,NaN
ZIP,ZIP code,school,zip,integer,NaN,NaN,IPEDS,NaN
AccredAgency,Accreditor for institution,school,accreditor,string,NaN,NaN,OPE,NaN
INSTURL,URL for institution's homepage,school,school_url,string,NaN,NaN,IPEDS,NaN
NPCURL,URL for institution's net price calculator,school,price_calculator_url,string,NaN,NaN,IPEDS,NaN
sch_deg,Predominant degree awarded (recoded 0s and 4s),school,degrees_awarded.predominant_recoded,integer,,NaN,IPEDS/NSLDS,"Missing values, 0s, and 4s from PREDDEG recoded according to NSLDS program length"
main,Flag for main campus,school,main_campus,integer,0,Not main campus,IPEDS,NaN
NaN,NaN,school,NaN,NaN,1,Main campus,NaN,NaN
NUMBRANCH,Number of branch campuses,school,branches,integer,NaN,NaN,IPEDS,NaN
PREDDEG,Predominant degree awarded\r\n0 Not classified\r\n1 Predominantly certificate-degr...,school,degrees_awarded.predominant,integer,0,Not classified,IPEDS,NaN
NaN,NaN,school,NaN,NaN,1,Predominantly certificate-degree granting,NaN,NaN
NaN,NaN,school,NaN,NaN,2,Predominantly associate's-degree granting,NaN,NaN
NaN,NaN,school,NaN,NaN,3,Predominantly bachelor's-degree granting,NaN,NaN
NaN,NaN,school,NaN,NaN,4,Entirely graduate-degree granting,NaN,NaN
HIGHDEG,Highest degree awarded\r\n0 Non-degree-granting\r\n1 Certificate degree\r\n2 ...,school,degrees_awarded.highest,integer,0,Non-degree-granting,IPEDS,NaN
NaN,NaN,school,NaN,NaN,1,Certificate degree,NaN,NaN
NaN,NaN,school,NaN,NaN,2,Associate degree,NaN,NaN
NaN,NaN,school,NaN,NaN,3,Bachelor's degree,NaN,NaN
NaN,NaN,school,NaN,NaN,4,Graduate degree,NaN,NaN
CONTROL,Control of institution,school,ownership,integer,1,Public,IPEDS,NaN
NaN,NaN,school,NaN,NaN,2,Private nonprofit,NaN,NaN
NaN,NaN,school,NaN,NaN,3,Private for-profit,NaN,NaN
st_fips,FIPS code for state,school,state_fips,integer,1,Alabama,IPEDS,NaN
NaN,NaN,school,NaN,NaN,2,Alaska,NaN,NaN
NaN,NaN,school,NaN,NaN,4,Arizona,NaN,NaN
NaN,NaN,school,NaN,NaN,5,Arkansas,NaN,NaN
NaN,NaN,school,NaN,NaN,6,California,NaN,NaN
NaN,NaN,school,NaN,NaN,8,Colorado,NaN,NaN
NaN,NaN,school,NaN,NaN,9,Connecticut,NaN,NaN
NaN,NaN,school,NaN,NaN,10,Delaware,NaN,NaN
NaN,NaN,school,NaN,NaN,11,District of Columbia,NaN,NaN
NaN,NaN,school,NaN,NaN,12,Florida,NaN,NaN
NaN,NaN,school,NaN,NaN,13,Georgia,NaN,NaN
NaN,NaN,school,NaN,NaN,15,Hawaii,NaN,NaN
NaN,NaN,school,NaN,NaN,16,Idaho,NaN,NaN
NaN,NaN,school,NaN,NaN,17,Illinois,NaN,NaN
NaN,NaN,school,NaN,NaN,18,Indiana,NaN,NaN
NaN,NaN,school,NaN,NaN,19,Iowa,NaN,NaN
NaN,NaN,school,NaN,NaN,20,Kansas,NaN,NaN
NaN,NaN,school,NaN,NaN,21,Kentucky,NaN,NaN
NaN,NaN,school,NaN,NaN,22,Louisiana,NaN,NaN
NaN,NaN,school,NaN,NaN,23,Maine,NaN,NaN
NaN,NaN,school,NaN,NaN,24,Maryland,NaN,NaN
NaN,NaN,school,NaN,NaN,25,Massachusetts,NaN,NaN
NaN,NaN,school,NaN,NaN,26,Michigan,NaN,NaN
...,...,...,...,...,...,...,...,...
gt_25k_p6,"Share of students earning over $25,000/year (threshold earnings) 6 years after entry",earnings,6_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
mn_earn_wne_inc1_p6,Mean earnings of students working and not enrolled 6 years after entry in the lowest income tercile,earnings,6_yrs_after_entry.mean_earnings.lowest_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_inc2_p6,Mean earnings of students working and not enrolled 6 years after entry in the middle income tercile,earnings,6_yrs_after_entry.mean_earnings.middle_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_inc3_p6,Mean earnings of students working and not enrolled 6 years after entry in the highest income ter...,earnings,6_yrs_after_entry.mean_earnings.highest_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_indep0_inc1_p6,Mean earnings of dependent students working and not enrolled 6 years after entry in the lowest i...,earnings,6_yrs_after_entry.mean_earnings.dependent_students_lowest_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_indep0_p6,Mean earnings of dependent students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.dependent_students,float,NaN,NaN,Treasury,NaN
mn_earn_wne_indep1_p6,Mean earnings of independent students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.independent_students,float,NaN,NaN,Treasury,NaN
mn_earn_wne_male0_p6,Mean earnings of female students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.female_students,float,NaN,NaN,Treasury,NaN
mn_earn_wne_male1_p6,Mean earnings of male students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.male_students,float,NaN,NaN,Treasury,NaN
count_nwne_p7,Number of students not working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.not_working_not_enrolled,float,NaN,NaN,Treasury,NaN
count_wne_p7,Number of students working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.working_not_enrolled,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p7,Mean earnings of students working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.mean_earnings,float,NaN,NaN,Treasury,NaN
sd_earn_wne_p7,Standard deviation of earnings of students working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.std_dev,float,NaN,NaN,Treasury,NaN
gt_25k_p7,"Share of students earning over $25,000/year (threshold earnings) 7 years after entry",earnings,7_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
count_nwne_p8,Number of students not working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.not_working_not_enrolled,integer,NaN,NaN,Treasury,NaN
count_wne_p8,Number of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.working_not_enrolled,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p8,Mean earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.mean_earnings,float,NaN,NaN,Treasury,NaN
md_earn_wne_p8,Median earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.median_earnings,float,NaN,NaN,Treasury,NaN
pct10_earn_wne_p8,10th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.10th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
pct25_earn_wne_p8,25th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.25th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
pct75_earn_wne_p8,75th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.75th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
pct90_earn_wne_p8,90th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.90th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
sd_earn_wne_p8,Standard deviation of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.std_deviation,float,NaN,NaN,Treasury,NaN
gt_25k_p8,"Share of students earning over $25,000/year (threshold earnings) 8 years after entry",earnings,8_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
count_nwne_p9,Number of students not working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.not_working_not_enrolled,integer,NaN,NaN,Treasury,NaN
count_wne_p9,Number of students working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.working_not_enrolled,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p9,Mean earnings of students working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.mean_earnings,float,NaN,NaN,Treasury,NaN
sd_earn_wne_p9,Standard deviation of earnings of students working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.std_deviation,float,NaN,NaN,Treasury,NaN
gt_25k_p9,"Share of students earning over $25,000/year (threshold earnings) 9 years after entry",earnings,9_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
DEBT_MDN_SUPP,"Median debt, suppressed for n=30",aid,median_debt_suppressed.overall,float,NaN,NaN,NSLDS,NaN
GRAD_DEBT_MDN_SUPP,"Median debt of completers, suppressed for n=30",aid,median_debt_suppressed.completers.overall,float,NaN,NaN,NSLDS,NaN
GRAD_DEBT_MDN10YR_SUPP,"Median debt of completers expressed in 10-year monthly payments, suppressed for n=30",aid,median_debt_suppressed.completers.monthly_payments,float,NaN,NaN,NSLDS,NaN
RPY_3YR_RT_SUPP,"3-year repayment rate, suppressed for n=30",repayment,3_yr_repayment_suppressed.overall,float,NaN,NaN,NSLDS,NaN
LO_INC_RPY_3YR_RT_SUPP,"3-year repayment rate for low-income (less than $30,000 in nominal family income) students, supp...",repayment,3_yr_repayment_suppressed.income.low_income,float,NaN,NaN,NSLDS,NaN
MD_INC_RPY_3YR_RT_SUPP,"3-year repayment rate for middle-income (between $30,000 and $75,000 in nominal family income) s...",repayment,3_yr_repayment_suppressed.income.middle_income,float,NaN,NaN,NSLDS,NaN
HI_INC_RPY_3YR_RT_SUPP,"3-year repayment rate for high-income (above $75,000 in nominal family income) students, suppres...",repayment,3_yr_repayment_suppressed.income.high_income,float,NaN,NaN,NSLDS,NaN
COMPL_RPY_3YR_RT_SUPP,"3-year repayment rate for completers, suppressed for n=30",repayment,3_yr_repayment_suppressed.completers,float,NaN,NaN,NSLDS,NaN
NONCOM_RPY_3YR_RT_SUPP,"3-year repayment rate for non-completers, suppressed for n=30",repayment,3_yr_repayment_suppressed.non_completers,float,NaN,NaN,NSLDS,NaN
DEP_RPY_3YR_RT_SUPP,"3-year repayment rate for dependent students, suppressed for n=30",repayment,3_yr_repayment_suppressed.dependent_students,float,NaN,NaN,NSLDS,NaN
IND_RPY_3YR_RT_SUPP,"3-year repayment rate for independent students, suppressed for n=30",repayment,3_yr_repayment_suppressed.independent_students,float,NaN,NaN,NSLDS,NaN
PELL_RPY_3YR_RT_SUPP,"3-year repayment rate for Pell students, suppressed for n=30",repayment,3_yr_repayment_suppressed.pell_grant,float,NaN,NaN,NSLDS,NaN
NOPELL_RPY_3YR_RT_SUPP,"3-year repayment rate for no-Pell students, suppressed for n=30",repayment,3_yr_repayment_suppressed.no_pell_grant,float,NaN,NaN,NSLDS,NaN
FEMALE_RPY_3YR_RT_SUPP,"3-year repayment rate for female students, suppressed for n=30",repayment,3_yr_repayment_suppressed.female_students,float,NaN,NaN,NSLDS,NaN
MALE_RPY_3YR_RT_SUPP,"3-year repayment rate for male students, suppressed for n=30",repayment,3_yr_repayment_suppressed.male_students,float,NaN,NaN,NSLDS,NaN
FIRSTGEN_RPY_3YR_RT_SUPP,"3-year repayment rate for first-generation students, suppressed for n=30",repayment,3_yr_repayment_suppressed.first_generation_students,float,NaN,NaN,NSLDS,NaN
NOTFIRSTGEN_RPY_3YR_RT_SUPP,"3-year repayment rate for non-first-generation students, suppressed for n=30",repayment,3_yr_repayment_suppressed.non_first_generation_students,float,NaN,NaN,NSLDS,NaN
C150_L4_POOLED_SUPP,"150% completion rate for less-than-four-year institutions, pooled in two-year rolling averages a...",completion,rate_suppressed.lt_four_year_150percent,float,NaN,NaN,IPEDS,NaN
C150_4_POOLED_SUPP,"150% completion rate for four-year institutions, pooled in two-year rolling averages and suppres...",completion,rate_suppressed.four_year,float,NaN,NaN,IPEDS,NaN
C200_L4_POOLED_SUPP,"200% completion rate for less-than-four-year institutions, pooled in two-year rolling averages a...",completion,rate_suppressed.lt_four_year,float,NaN,NaN,IPEDS,NaN
C200_4_POOLED_SUPP,"200% completion rate for four-year institutions, pooled in two-year rolling averages and suppres...",completion,rate_suppressed.four_year_200percent,float,NaN,NaN,IPEDS,NaN

In [8]:
dcat = df_dict.groupby('dev-category')

In [9]:
dcat.groups.keys()

dict_keys(['admissions', 'completion', 'cost', 'root', 'aid', 'repayment', 'academics', 'student', 'school', 'earnings'])

In [10]:
for key,df in dcat:
    vars()[key] = df
    print(key+':')
    print(df.info())
    print('\n')

academics:
<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, PCIP01 to CIP54BACHL
Data columns (total 8 columns):
NAME OF DATA ELEMENT       228 non-null object
dev-category               228 non-null object
developer-friendly name    228 non-null object
API data type              228 non-null object
VALUE                      3 non-null object
LABEL                      41 non-null object
SOURCE                     228 non-null object
NOTES                      0 non-null object
dtypes: object(8)
memory usage: 16.0+ KB
None


admissions:
<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, ADM_RATE to SAT_AVG_ALL
Data columns (total 8 columns):
NAME OF DATA ELEMENT       25 non-null object
dev-category               25 non-null object
developer-friendly name    25 non-null object
API data type              25 non-null object
VALUE                      0 non-null object
LABEL                      0 non-null object
SOURCE                     25 non-null object
NOTES                      0 non-null object
dtypes: object(8)
memory usage: 1.8+ KB
None


aid:
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, PCTPELL to GRAD_DEBT_MDN10YR_SUPP
Data columns (total 8 columns):
NAME OF DATA ELEMENT       40 non-null object
dev-category               40 non-null object
developer-friendly name    40 non-null object
API data type              40 non-null object
VALUE                      2 non-null object
LABEL                      0 non-null object
SOURCE                     40 non-null object
NOTES                      2 non-null object
dtypes: object(8)
memory usage: 2.8+ KB
None


completion:
<class 'pandas.core.frame.DataFrame'>
Index: 1023 entries, C150_4 to C200_4_POOLED_SUPP
Data columns (total 8 columns):
NAME OF DATA ELEMENT       1023 non-null object
dev-category               1023 non-null object
developer-friendly name    1023 non-null object
API data type              1023 non-null object
VALUE                      13 non-null object
LABEL                      0 non-null object
SOURCE                     1023 non-null object
NOTES                      15 non-null object
dtypes: object(8)
memory usage: 71.9+ KB
None


cost:
<class 'pandas.core.frame.DataFrame'>
Index: 65 entries, NPT4_PUB to TUITIONFEE_PROG
Data columns (total 8 columns):
NAME OF DATA ELEMENT       65 non-null object
dev-category               65 non-null object
developer-friendly name    65 non-null object
API data type              65 non-null object
VALUE                      0 non-null object
LABEL                      0 non-null object
SOURCE                     65 non-null object
NOTES                      6 non-null object
dtypes: object(8)
memory usage: 4.6+ KB
None


earnings:
<class 'pandas.core.frame.DataFrame'>
Index: 73 entries, count_ed to gt_25k_p9
Data columns (total 8 columns):
NAME OF DATA ELEMENT       73 non-null object
dev-category               73 non-null object
developer-friendly name    73 non-null object
API data type              73 non-null object
VALUE                      0 non-null object
LABEL                      0 non-null object
SOURCE                     73 non-null object
NOTES                      0 non-null object
dtypes: object(8)
memory usage: 5.1+ KB
None


repayment:
<class 'pandas.core.frame.DataFrame'>
Index: 130 entries, CDR2 to NOTFIRSTGEN_RPY_3YR_RT_SUPP
Data columns (total 8 columns):
NAME OF DATA ELEMENT       130 non-null object
dev-category               130 non-null object
developer-friendly name    130 non-null object
API data type              130 non-null object
VALUE                      3 non-null object
LABEL                      0 non-null object
SOURCE                     130 non-null object
NOTES                      3 non-null object
dtypes: object(8)
memory usage: 9.1+ KB
None


root:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, UNITID to LONGITUDE
Data columns (total 8 columns):
NAME OF DATA ELEMENT       5 non-null object
dev-category               5 non-null object
developer-friendly name    5 non-null object
API data type              5 non-null object
VALUE                      0 non-null object
LABEL                      0 non-null object
SOURCE                     5 non-null object
NOTES                      0 non-null object
dtypes: object(8)
memory usage: 360.0+ bytes
None


school:
<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, INSTNM to HCM2
Data columns (total 8 columns):
NAME OF DATA ELEMENT       37 non-null object
dev-category               165 non-null object
developer-friendly name    37 non-null object
API data type              37 non-null object
VALUE                      156 non-null object
LABEL                      151 non-null object
SOURCE                     37 non-null object
NOTES                      7 non-null object
dtypes: object(8)
memory usage: 11.6+ KB
None


student:
<class 'pandas.core.frame.DataFrame'>
Index: 94 entries, UGDS to fsend_5
Data columns (total 8 columns):
NAME OF DATA ELEMENT       94 non-null object
dev-category               94 non-null object
developer-friendly name    94 non-null object
API data type              94 non-null object
VALUE                      7 non-null object
LABEL                      0 non-null object
SOURCE                     94 non-null object
NOTES                      11 non-null object
dtypes: object(8)
memory usage: 6.6+ KB
None

In [11]:
earnings

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VALUE,LABEL,SOURCE,NOTES
VARIABLE NAME,,,,,,,,
count_ed,Count of students in the earnings cohort,earnings,student_count,integer,NaN,NaN,Treasury,NaN
count_nwne_p10,Number of students not working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.not_working_not_enrolled.overall,integer,NaN,NaN,Treasury,NaN
count_wne_p10,Number of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.overall,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p10,Mean earnings of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.mean_earnings,integer,NaN,NaN,Treasury,NaN
md_earn_wne_p10,Median earnings of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.median,integer,NaN,NaN,Treasury,NaN
pct10_earn_wne_p10,10th percentile of earnings of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.earnings_percentile.10,integer,NaN,NaN,Treasury,NaN
pct25_earn_wne_p10,25th percentile of earnings of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.earnings_percentile.25,integer,NaN,NaN,Treasury,NaN
pct75_earn_wne_p10,75th percentile of earnings of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.earnings_percentile.75,integer,NaN,NaN,Treasury,NaN
pct90_earn_wne_p10,90th percentile of earnings of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.earnings_percentile.90,integer,NaN,NaN,Treasury,NaN
sd_earn_wne_p10,Standard deviation of earnings of students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.std_dev,integer,NaN,NaN,Treasury,NaN
count_wne_inc1_p10,Number of students working and not enrolled 10 years after entry in the lowest income tercile,earnings,10_yrs_after_entry.working_not_enrolled.income.lowest_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_inc2_p10,Number of students working and not enrolled 10 years after entry in the middle income tercile,earnings,10_yrs_after_entry.working_not_enrolled.income.middle_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_inc3_p10,Number of students working and not enrolled 10 years after entry in the highest income tercile,earnings,10_yrs_after_entry.working_not_enrolled.income.highest_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_indep0_inc1_p10,Number of dependent students working and not enrolled 10 years after entry in the lowest income ...,earnings,10_yrs_after_entry.working_not_enrolled.dependent_students_lowest_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_indep0_p10,Number of dependent students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.working_not_enrolled.dependent_students,integer,NaN,NaN,Treasury,NaN
count_wne_indep1_p10,Number of independent students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.independent_students,integer,NaN,NaN,Treasury,NaN
count_wne_male0_p10,Number of female students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.female_students,integer,NaN,NaN,Treasury,NaN
count_wne_male1_p10,Number of male students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.male_students,integer,NaN,NaN,Treasury,NaN
gt_25k_p10,"Share of students earning over $25,000/year (threshold earnings) 10 years after entry",earnings,10_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
mn_earn_wne_inc1_p10,Mean earnings of students working and not enrolled 10 years after entry in the lowest income ter...,earnings,10_yrs_after_entry.mean_earnings.lowest_tercile,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_inc2_p10,Mean earnings of students working and not enrolled 10 years after entry in the middle income ter...,earnings,10_yrs_after_entry.mean_earnings.middle_tercile,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_inc3_p10,Mean earnings of students working and not enrolled 10 years after entry in the highest income te...,earnings,10_yrs_after_entry.mean_earnings.highest_tercile,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_indep0_inc1_p10,Mean earnings of dependent students working and not enrolled 10 years after entry in the lowest ...,earnings,10_yrs_after_entry.mean_earnings.dependent_students_lowest_tercile,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_indep0_p10,Mean earnings of dependent students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.mean_earnings.dependent_students,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_indep1_p10,Mean earnings of independent students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.mean_earnings.independent_students,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_male0_p10,Mean earnings of female students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.mean_earnings.female_students,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_male1_p10,Mean earnings of male students working and not enrolled 10 years after entry,earnings,10_yrs_after_entry.mean_earnings.male_students,integer,NaN,NaN,Treasury,NaN
count_nwne_p6,Number of students not working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.not_working_not_enrolled.overall,integer,NaN,NaN,Treasury,NaN
count_wne_p6,Number of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.overall,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p6,Mean earnings of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.mean_earnings,integer,NaN,NaN,Treasury,NaN
md_earn_wne_p6,Median earnings of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.median,integer,NaN,NaN,Treasury,NaN
pct10_earn_wne_p6,10th percentile of earnings of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.earnings_percentile.10,integer,NaN,NaN,Treasury,NaN
pct25_earn_wne_p6,25th percentile of earnings of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.earnings_percentile.25,integer,NaN,NaN,Treasury,NaN
pct75_earn_wne_p6,75th percentile of earnings of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.earnings_percentile.75,integer,NaN,NaN,Treasury,NaN
pct90_earn_wne_p6,90th percentile of earnings of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.earnings_percentile.90,integer,NaN,NaN,Treasury,NaN
sd_earn_wne_p6,Standard deviation of earnings of students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.std_dev,integer,NaN,NaN,Treasury,NaN
count_wne_inc1_p6,Number of students working and not enrolled 6 years after entry in the lowest income tercile,earnings,6_yrs_after_entry.working_not_enrolled.income.lowest_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_inc2_p6,Number of students working and not enrolled 6 years after entry in the middle income tercile,earnings,6_yrs_after_entry.working_not_enrolled.income.middle_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_inc3_p6,Number of students working and not enrolled 6 years after entry in the highest income tercile,earnings,6_yrs_after_entry.working_not_enrolled.income.highest_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_indep0_inc1_p6,Number of dependent students working and not enrolled 6 years after entry in the lowest income t...,earnings,6_yrs_after_entry.working_not_enrolled.dependent_students_lowest_tercile,integer,NaN,NaN,Treasury,NaN
count_wne_indep0_p6,Number of dependent students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.working_not_enrolled.dependent_students,integer,NaN,NaN,Treasury,NaN
count_wne_indep1_p6,Number of independent students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.independent_students,integer,NaN,NaN,Treasury,NaN
count_wne_male0_p6,Number of female students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.female_students,integer,NaN,NaN,Treasury,NaN
count_wne_male1_p6,Number of male students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.male_students,integer,NaN,NaN,Treasury,NaN
gt_25k_p6,"Share of students earning over $25,000/year (threshold earnings) 6 years after entry",earnings,6_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
mn_earn_wne_inc1_p6,Mean earnings of students working and not enrolled 6 years after entry in the lowest income tercile,earnings,6_yrs_after_entry.mean_earnings.lowest_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_inc2_p6,Mean earnings of students working and not enrolled 6 years after entry in the middle income tercile,earnings,6_yrs_after_entry.mean_earnings.middle_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_inc3_p6,Mean earnings of students working and not enrolled 6 years after entry in the highest income ter...,earnings,6_yrs_after_entry.mean_earnings.highest_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_indep0_inc1_p6,Mean earnings of dependent students working and not enrolled 6 years after entry in the lowest i...,earnings,6_yrs_after_entry.mean_earnings.dependent_students_lowest_tercile,float,NaN,NaN,Treasury,NaN
mn_earn_wne_indep0_p6,Mean earnings of dependent students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.dependent_students,float,NaN,NaN,Treasury,NaN
mn_earn_wne_indep1_p6,Mean earnings of independent students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.independent_students,float,NaN,NaN,Treasury,NaN
mn_earn_wne_male0_p6,Mean earnings of female students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.female_students,float,NaN,NaN,Treasury,NaN
mn_earn_wne_male1_p6,Mean earnings of male students working and not enrolled 6 years after entry,earnings,6_yrs_after_entry.mean_earnings.male_students,float,NaN,NaN,Treasury,NaN
count_nwne_p7,Number of students not working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.not_working_not_enrolled,float,NaN,NaN,Treasury,NaN
count_wne_p7,Number of students working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.working_not_enrolled,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p7,Mean earnings of students working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.mean_earnings,float,NaN,NaN,Treasury,NaN
sd_earn_wne_p7,Standard deviation of earnings of students working and not enrolled 7 years after entry,earnings,7_yrs_after_entry.std_dev,float,NaN,NaN,Treasury,NaN
gt_25k_p7,"Share of students earning over $25,000/year (threshold earnings) 7 years after entry",earnings,7_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
count_nwne_p8,Number of students not working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.not_working_not_enrolled,integer,NaN,NaN,Treasury,NaN
count_wne_p8,Number of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.working_not_enrolled,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p8,Mean earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.mean_earnings,float,NaN,NaN,Treasury,NaN
md_earn_wne_p8,Median earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.median_earnings,float,NaN,NaN,Treasury,NaN
pct10_earn_wne_p8,10th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.10th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
pct25_earn_wne_p8,25th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.25th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
pct75_earn_wne_p8,75th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.75th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
pct90_earn_wne_p8,90th percentile of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.90th_percentile_earnings,integer,NaN,NaN,Treasury,NaN
sd_earn_wne_p8,Standard deviation of earnings of students working and not enrolled 8 years after entry,earnings,8_yrs_after_entry.std_deviation,float,NaN,NaN,Treasury,NaN
gt_25k_p8,"Share of students earning over $25,000/year (threshold earnings) 8 years after entry",earnings,8_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN
count_nwne_p9,Number of students not working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.not_working_not_enrolled,integer,NaN,NaN,Treasury,NaN
count_wne_p9,Number of students working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.working_not_enrolled,integer,NaN,NaN,Treasury,NaN
mn_earn_wne_p9,Mean earnings of students working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.mean_earnings,float,NaN,NaN,Treasury,NaN
sd_earn_wne_p9,Standard deviation of earnings of students working and not enrolled 9 years after entry,earnings,9_yrs_after_entry.std_deviation,float,NaN,NaN,Treasury,NaN
gt_25k_p9,"Share of students earning over $25,000/year (threshold earnings) 9 years after entry",earnings,9_yrs_after_entry.percent_greater_than_25000,float,NaN,NaN,Treasury,NaN

In [12]:
student

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VALUE,LABEL,SOURCE,NOTES
VARIABLE NAME,,,,,,,,
UGDS,Enrollment of undergraduate degree-seeking students,student,size,integer,,NaN,IPEDS,"To be bucketed into size categories (College Navigator: <2k, 2-15k, >15k)"
UG,Enrollment of all undergraduate students,student,enrollment.all,integer,NaN,NaN,IPEDS,NaN
UGDS_WHITE,Total share of enrollment of undergraduate degree-seeking students who are white,student,demographics.race_ethnicity.white,float,NaN,NaN,IPEDS,Not before 2009
UGDS_BLACK,Total share of enrollment of undergraduate degree-seeking students who are black,student,demographics.race_ethnicity.black,float,NaN,NaN,IPEDS,Pre2009_IPEDS
UGDS_HISP,Total share of enrollment of undergraduate degree-seeking students who are Hispanic,student,demographics.race_ethnicity.hispanic,float,NaN,NaN,IPEDS,NaN
UGDS_ASIAN,Total share of enrollment of undergraduate degree-seeking students who are Asian,student,demographics.race_ethnicity.asian,float,NaN,NaN,IPEDS,NaN
UGDS_AIAN,Total share of enrollment of undergraduate degree-seeking students who are American Indian/Alask...,student,demographics.race_ethnicity.aian,float,NaN,NaN,IPEDS,NaN
UGDS_NHPI,Total share of enrollment of undergraduate degree-seeking students who are Native Hawaiian/Pacif...,student,demographics.race_ethnicity.nhpi,float,NaN,NaN,IPEDS,NaN
UGDS_2MOR,Total share of enrollment of undergraduate degree-seeking students who are two or more races,student,demographics.race_ethnicity.two_or_more,float,NaN,NaN,IPEDS,NaN
UGDS_NRA,Total share of enrollment of undergraduate degree-seeking students who are non-resident aliens,student,demographics.race_ethnicity.non_resident_alien,float,NaN,NaN,IPEDS,NaN
UGDS_UNKN,Total share of enrollment of undergraduate degree-seeking students whose race is unknown,student,demographics.race_ethnicity.unknown,float,NaN,NaN,IPEDS,NaN
UGDS_WHITENH,Total share of enrollment of undergraduate degree-seeking students who are white non-Hispanic,student,demographics.race_ethnicity.white_non_hispanic,float,NaN,NaN,IPEDS,Not after 2009 (2009 transition year)
UGDS_BLACKNH,Total share of enrollment of undergraduate degree-seeking students who are black non-Hispanic,student,demographics.race_ethnicity.black_non_hispanic,float,NaN,NaN,IPEDS,NaN
UGDS_API,Total share of enrollment of undergraduate degree-seeking students who are Asian/Pacific Islander,student,demographics.race_ethnicity.asian_pacific_islander,float,NaN,NaN,IPEDS,NaN
UGDS_AIANOld,Total share of enrollment of undergraduate degree-seeking students who are American Indian/Alask...,student,demographics.race_ethnicity.aian_prior_2009,float,NaN,NaN,IPEDS,NaN
UGDS_HISPOld,Total share of enrollment of undergraduate degree-seeking students who are Hispanic,student,demographics.race_ethnicity.hispanic_prior_2009,float,NaN,NaN,IPEDS,NaN
UG_NRA,Total share of enrollment of undergraduate students who are non-resident aliens,student,demographics.non_resident_aliens_2000,float,NaN,NaN,IPEDS,Not after 2000
UG_UNKN,Total share of enrollment of undergraduate students whose race is unknown,student,demographics.race_ethnicity.unknown_2000,float,NaN,NaN,IPEDS,NaN
UG_WHITENH,Total share of enrollment of undergraduate students who are white non-Hispanic,student,demographics.race_ethnicity.white_2000,float,NaN,NaN,IPEDS,NaN
UG_BLACKNH,Total share of enrollment of undergraduate students who are black non-Hispanic,student,demographics.race_ethnicity.black_2000,float,NaN,NaN,IPEDS,NaN
UG_API,Total share of enrollment of undergraduate students who are Asian/Pacific Islander,student,demographics.race_ethnicity.api_2000,float,NaN,NaN,IPEDS,NaN
UG_AIANOld,Total share of enrollment of undergraduate students who are American Indian/Alaska Native,student,demographics.race_ethnicity.aian_2000,float,NaN,NaN,IPEDS,NaN
UG_HISPOld,Total share of enrollment of undergraduate students who are Hispanic,student,demographics.race_ethnicity.hispanic_2000,float,NaN,NaN,IPEDS,NaN
PPTUG_EF,"Share of undergraduate, degree-/certificate-seeking students who are part-time",student,part_time_share,float,,NaN,IPEDS,"The proportion of degree/certificate-seeking undergraduates enrolled part time in the fall term,..."
PPTUG_EF2,"Share of undergraduate, degree-/certificate-seeking students who are part-time",student,part_time_share,float,NaN,NaN,IPEDS,Not after 2000
PFTFTUG1_EF,"Share of undergraduate students who are first-time, full-time degree-/certificate-seeking underg...",student,share_first.time_full.time,float,,NaN,IPEDS,May be published alongside C150_ to provide context
RET_FT4,"First-time, full-time student retention rate at four-year institutions",student,retention_rate.four_year.full_time,float,NaN,NaN,IPEDS,"The proportion of full-time, first-time, degree/certificate-seeking undergraduates who were enro..."
RET_FTL4,"First-time, full-time student retention rate at less-than-four-year institutions",student,retention_rate.lt_four_year.full_time,float,NaN,NaN,IPEDS,NaN
RET_PT4,"First-time, part-time student retention rate at four-year institutions",student,retention_rate.four_year.part_time,float,NaN,NaN,IPEDS,"The proportion of part-time, first-time, degree/certificate-seeking undergraduates who were enro..."
RET_PTL4,"First-time, part-time student retention rate at less-than-four-year institutions",student,retention_rate.lt_four_year.part_time,float,NaN,NaN,IPEDS,NaN
UG25abv,Percentage of undergraduates aged 25 and above,student,share_25_older,float,,NaN,IPEDS,The proportion of undergraduates who are aged 25 or older
INC_PCT_LO,"Percentage of aided students whose family income is between $0-$30,000",student,share_lowincome.0_30000,float,NaN,NaN,NSLDS,NaN
DEP_STAT_PCT_IND,Percentage of students who are financially independent,student,share_independent_students,float,NaN,NaN,NSLDS,NaN
DEP_INC_PCT_LO,"Percentage of students who are financially independent and have family incomes between $0-30,000",student,share_independent_lowincome.0_30000,float,NaN,NaN,NSLDS,NaN
IND_INC_PCT_LO,"Percentage of students who are financially dependent and have family incomes between $0-30,000",student,share_dependent_lowincome.0_300000,float,NaN,NaN,NSLDS,NaN
PAR_ED_PCT_1STGEN,Percentage first-generation students,student,share_firstgeneration,float,NaN,NaN,NSLDS,NaN
INC_PCT_M1,"Aided students with family incomes between $30,001-$48,000 in nominal dollars",student,share_middleincome.30001_48000,float,NaN,NaN,NSLDS,NaN
INC_PCT_M2,"Aided students with family incomes between $48,001-$75,000 in nominal dollars",student,share_middleincome.30001_48000,float,NaN,NaN,NSLDS,NaN
INC_PCT_H1,"Aided students with family incomes between $75,001-$110,000 in nominal dollars",student,share_highincome.75001_110000,float,NaN,NaN,NSLDS,NaN
INC_PCT_H2,"Aided students with family incomes between $110,001+ in nominal dollars",student,share_highincome.110001plus,float,NaN,NaN,NSLDS,NaN
DEP_INC_PCT_M1,"Dependent students with family incomes between $30,001-$48,000 in nominal dollars",student,share_dependent_middleincome.300001_48000,float,NaN,NaN,NSLDS,NaN
DEP_INC_PCT_M2,"Dependent students with family incomes between $48,001-$75,000 in nominal dollars",student,share_dependent_middleincome.48001_75000,float,NaN,NaN,NSLDS,NaN
DEP_INC_PCT_H1,"Dependent students with family incomes between $75,001-$110,000 in nominal dollars",student,share_dependent_highincome.75001_110000,float,NaN,NaN,NSLDS,NaN
DEP_INC_PCT_H2,"Dependent students with family incomes between $110,001+ in nominal dollars",student,share_dependent_highincome.110001plus,float,NaN,NaN,NSLDS,NaN
IND_INC_PCT_M1,"Independent students with family incomes between $30,001-$48,000 in nominal dollars",student,share_independent_middleincome.30001_48000,float,NaN,NaN,NSLDS,NaN
IND_INC_PCT_M2,"Independent students with family incomes between $48,001-$75,000 in nominal dollars",student,share_independent_middleincome.48001_75000,float,NaN,NaN,NSLDS,NaN
IND_INC_PCT_H1,"Independent students with family incomes between $75,001-$110,000 in nominal dollars",student,share_independent_highincome.75001_110000,float,NaN,NaN,NSLDS,NaN
IND_INC_PCT_H2,"Independent students with family incomes between $110,001+ in nominal dollars",student,share_independent_highincome.110001plus,float,NaN,NaN,NSLDS,NaN
PAR_ED_PCT_MS,Percent of students whose parents' highest educational level is middle school,student,share_firstgeneration_parents.middleschool,float,,NaN,NSLDS,NaN
PAR_ED_PCT_HS,Percent of students whose parents' highest educational level is high school,student,share_firstgeneration_parents.highschool,float,,NaN,NSLDS,NaN
PAR_ED_PCT_PS,Percent of students whose parents' highest educational level was is some form of postsecondary e...,student,share_firstgeneration_parents.somecollege,float,,NaN,NSLDS,NaN
APPL_SCH_PCT_GE2,Number of applications is greater than or equal to 2,student,fafsa_sent.2_college_allyrs,float,NaN,NaN,NSLDS,NaN
APPL_SCH_PCT_GE3,Number of applications is greater than or equal to 3,student,fafsa_sent.3_college_allyrs,float,NaN,NaN,NSLDS,NaN
APPL_SCH_PCT_GE4,Number of applications is greater than or equal to 4,student,fafsa_sent.4_college_allyrs,float,NaN,NaN,NSLDS,NaN
APPL_SCH_PCT_GE5,Number of applications is greater than or equal to 5,student,fafsa_sent.5plus_college_allyrs,float,NaN,NaN,NSLDS,NaN
DEP_INC_AVG,Average family income of dependent students in real 2014 dollars.,student,avg_dependent_income.2014dollars,integer,NaN,NaN,NSLDS,NaN
IND_INC_AVG,Average family income of independent students in real 2014 dollars.,student,avg_independent_income.2014dollars,integer,NaN,NaN,NSLDS,NaN
INC_N,Number of students in the family income cohort,student,family_income.overall,integer,NaN,NaN,NSLDS,NaN
DEP_INC_N,Number of students in the family income dependent students cohort,student,family_income.dependent_students,integer,NaN,NaN,NSLDS,NaN
IND_INC_N,Number of students in the family income independent students cohort,student,family_income.independent_students,integer,NaN,NaN,NSLDS,NaN
DEP_STAT_N,Number of students in the disaggregation with valid dependency status,student,valid_dependency_status,integer,NaN,NaN,NSLDS,NaN
PAR_ED_N,Number of students in the parents' education level cohort,student,parents_education_level,integer,NaN,NaN,NSLDS,NaN
APPL_SCH_N,Number of students in the FAFSA applications cohort,student,FAFSA_applications,integer,NaN,NaN,NSLDS,NaN
pell_ever,Share of students who received a Pell Grant while in school,student,students_with_pell_grant,float,NaN,NaN,Treasury,NaN
age_entry,"Average age of entry, via SSA data",student,demographics.age_entry,integer,NaN,NaN,Treasury,NaN
age_entry_sq,Average of the age of entry squared,student,demographics.age_entry_squared,integer,NaN,NaN,Treasury,NaN
agege24,Percent of students over 23 at entry,student,demographics.over_23_at_entry,float,NaN,NaN,Treasury,NaN
female,"Share of female students, via SSA data",student,demographics.female_share,float,NaN,NaN,Treasury,NaN
married,Share of married students,student,demographics.married,float,NaN,NaN,Treasury,NaN
dependent,Share of dependent students,student,demographics.dependent,float,NaN,NaN,Treasury,NaN
veteran,Share of veteran students,student,demographics.veteran,float,NaN,NaN,Treasury,NaN
first_gen,Share of first-generation students,student,demographics.first_generation,float,NaN,NaN,Treasury,NaN
faminc,Average family income,student,demographics.avg_family_income,integer,NaN,NaN,Treasury,NaN
md_faminc,Median family income,student,demographics.median_family_income,integer,NaN,NaN,Treasury,NaN
faminc_ind,Average family income for independent students,student,demographics.avg_family_income_independents,integer,NaN,NaN,Treasury,NaN
lnfaminc,Average of the log of family income,student,demographics.avg_family_income_log,integer,NaN,NaN,Treasury,NaN
lnfaminc_ind,Average of the log of family income for independent students,student,demographics.avg_family_income_independents_log,integer,NaN,NaN,Treasury,NaN
pct_white,"Percent of the population from students' zip codes that is White, via Census data",student,demographics.share_white.home_ZIP,float,NaN,NaN,Treasury,NaN
pct_black,"Percent of the population from students' zip codes that is Black, via Census data",student,demographics.share_black.home_ZIP,float,NaN,NaN,Treasury,NaN
pct_asian,"Percent of the population from students' zip codes that is Asian, via Census data",student,demographics.share_asian.home_ZIP,float,NaN,NaN,Treasury,NaN
pct_hispanic,"Percent of the population from students' zip codes that is Hispanic, via Census data",student,demographics.share_hispanic.home_ZIP,float,NaN,NaN,Treasury,NaN
pct_ba,"Percent of the population from students' zip codes with a bachelor's degree over the age 25, via...",student,demographics.share_bachelors_degree_age25.home_ZIP,float,NaN,NaN,Treasury,NaN
pct_grad_prof,"Percent of the population from students' zip codes over 25 with a professional degree, via Censu...",student,demographics.share_professional_degree_age25.home_ZIP,float,NaN,NaN,Treasury,NaN
pct_born_us,"Percent of the population from students' zip codes that was born in the US, via Census data",student,demographics.share_born_US.home_ZIP,float,NaN,NaN,Treasury,NaN
median_hh_inc,Median household income,student,demographics.median_hh_income,integer,NaN,NaN,Treasury,NaN
poverty_rate,"Poverty rate, via Census data",student,demographics.poverty_rate,float,NaN,NaN,Treasury,NaN
unemp_rate,"Unemployment rate, via Census data",student,demographics.unemployment,float,NaN,NaN,Treasury,NaN
ln_median_hh_inc,Log of the median household income,student,demographics.median_hh_income_log,integer,NaN,NaN,Treasury,NaN
fsend_count,Number of students who sent their FAFSA reports to at least one college,student,fafsa_sent.overall,integer,NaN,NaN,Treasury,NaN
fsend_1,Share of students who submitted FAFSAs to only one college,student,fafsa_sent.1_college,float,NaN,NaN,Treasury,NaN
fsend_2,Share of students who submitted FAFSAs to two colleges,student,fafsa_sent.2_colleges,float,NaN,NaN,Treasury,NaN
fsend_3,Share of students who submitted FAFSAs to three colleges,student,fafsa_sent.3_college,float,NaN,NaN,Treasury,NaN
fsend_4,Share of students who submitted FAFSAs to four colleges,student,fafsa_sent.4_colleges,float,NaN,NaN,Treasury,NaN
fsend_5,Share of students who submitted FAFSAs to at least five colleges,student,fafsa_sent.5_or_more_colleges,float,NaN,NaN,Treasury,NaN